<form [formGroup]="objectForm" (ngSubmit)="save()" autocomplete="off">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{getTitle()}}</h4>
    @if (object?.id) {
      <span class="badge bg-primary text-primary-text-contrast ms-2">ID: {{object.id}}</span>
    }
    <button type="button" [disabled]="!closeEnabled" class="btn-close" aria-label="Close" (click)="cancel()">
    </button>
  </div>
  <div class="modal-body">

    <div class="col">
      <pngx-input-text i18n-title title="Name" formControlName="name" [error]="error?.name" autocomplete="off"></pngx-input-text>
      <pngx-input-select i18n-title title="Matching algorithm" [items]="getMatchingAlgorithms()" formControlName="matching_algorithm"></pngx-input-select>
      
      <div formArrayName="default_metadata">
        <div
          *ngFor="
            let indexField of indexFields;
            let i = index;
            trackBy: trackIndexField
          "
          [formGroupName]="i"
        >
          <div class="row flex-nowrap">
            <div class="col">
              <label>Name</label>
              <input
                class="form-control flex-grow-0 w-full"
                type="text"
                formControlName="name"
              />
            </div>
            <div class="col">
              <label for="displayName">User Friendly Name</label>
              <input
                class="form-control flex-grow-0 w-full"
                type="text"
                formControlName="displayName"
              />
            </div>
            <div class="col">
              <div><label>Actions</label></div>
              <button
                type="button"
                class="btn btn-sm btn-outline-danger me-2 ms-auto align-self-end"
                (click)="deleteIndexField(i)"
              >
                <svg class="buttonicon" fill="currentColor">
                  <use xlink:href="assets/bootstrap-icons.svg#trash" /></svg
                ><span class="d-none d-lg-inline ps-1" i18n>Delete</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      @if (patternRequired) {
        <pngx-input-text i18n-title title="Matching pattern" formControlName="match" [error]="error?.match"></pngx-input-text>
      }
      @if (patternRequired) {
        <pngx-input-check i18n-title title="Case insensitive" formControlName="is_insensitive"></pngx-input-check>
      }
    </div>

    <div *pngxIfOwner="object">
      <pngx-permissions-form [users]="users" accordion="true" formControlName="permissions_form"></pngx-permissions-form>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="cancel()" i18n [disabled]="networkActive">Cancel</button>
    <button type="submit" class="btn btn-primary" i18n [disabled]="networkActive">Save</button>
  </div>
</form>
